@media (min-width: 768px) {
    .modal {
        position: fixed;
        z-index: 9999;
        left: 35%;
        top: 25%;
        width: 35%;
        height: min-content;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.86);
        padding: 20px;
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 10px;
        color: black;
    }

    .modal-content h4 {
        margin-top: 0;
    }

    .modal-content .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-content p {
        margin-bottom: 10px;
    }

    .modal-content strong {
        font-weight: bold;
    }

    .modal-content span {
        margin-left: 5px;
    }

    .modal-content button {
        margin-top: 10px;
    }
}


@media (max-width: 768px) {
    .modal {
        position: fixed;
        z-index: 9999;
        left: 25%;
        top: 25%;
        width: 45%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 0.8em;
    }

    .modal-content {
        background-color: rgba(255, 255, 255, 0.86);
        padding: 20px;
        width: 100%;
        height: 100%;
        overflow: auto;
        border-radius: 10px;
        color: black;
    }

    .modal-content h4 {
        margin-top: 0;
    }

    .modal-content .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-content p {
        margin-bottom: 10px;
    }

    .modal-content strong {
        font-weight: bold;
    }

    .modal-content span {
        margin-left: 5px;
    }

    .modal-content button {
        margin-top: 10px;
    }
}
