.container-fluid {
    margin-top: 50px;
}

h3 {
    font-size: 35px;
    font-family: "Agency FB";
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-8 {
    background-color: rgba(180, 180, 185, 0.39);
    padding: 25px;
    border-radius: 10px;
}

.btn {
    margin-top: 10px;
    width: auto;
    background-color: #B4B4B9;
    border: none;
}

.btn:hover {
    background-color: #959598;
}

.text {
    margin-top: 25px;
    font-size: 14px;
}

.toggle-link {
    color: blue;
    text-decoration: underline;
}


.toggle-link:hover {
    color: orangered;
    cursor: pointer;
}
